*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	list-style: none;
	scroll-behavior: smooth;
}

body{
	background: #ffffff;
	color: #000;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	align-items: center;
	
}
header.sticky{
	background: #ffffff;
	padding: 32px 18%;
}

.nav{
	display: flex;
}
.nav li{
	position: relative;
}

.nav a{
	font-size: 1.1rem;
	color: #000;
	font-weight: 500;
	padding: 10px 27px;
}
.nav a:hover {
	color: #f75023;
  }


.top-btn{
	padding: 9px 30px;
	background: transparent;
	border: 2px solid #f75023;
	border-radius: 30px;
	color: #000;
	letter-spacing: 1px;
	font-size: 1.1rem;
	font-weight: 500;
	margin-left: auto;
}
.top-btn:hover{
	transform: scale(1.1);
	background: #f75023;
	border: 2px solid #f75023;
	color: #ffffff;
}

section{
	padding: 80px;
}
.home{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 4rem;
}
.home-text h1{
	margin: 10px 0px 25px;
	font-size: 5rem;
	line-height: 1;
	font-weight: 500;
}
.home-text h5{
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;
}

.home-text h3{
	color: #f75023;
	font-size: 20px;
	font-weight: 500;
}
.home-text p{
	font-size: 1.1rem;
	color: #a09dab;
	line-height: 28px;
	margin-bottom: 20px;
}


.home-img img{
	max-width: 100%;
	width: 540px;
	height: auto;
}
header.sticky{
	background: #ffffff;
	padding: 13px 18%;
	box-shadow: 0px 0px 1px;
}



.about{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
}
.about-img img{
	max-width: 100%;
	width: 540px;
	height: auto;
}
.about-text h2{
	font-size: 3rem;
	font-weight: 500;
	margin: 8px 0px 25px;
	line-height: 1.1;
}
.about-text h3{
	color: #f75023;
	font-size: 20px;
	font-weight: 500;
}
.about-text p{
	max-width: 550px;
	font-size: 1.1rem;
	color: #a09dab;
	line-height: 28px;
	margin-bottom: 45px;
}

.heading{
	text-align: center;
}
.heading h2{
	font-size: 3rem;
	font-weight: 500;
	margin: 7px 0px 20px;
	line-height: 1.1;
}
.heading h3{
	color: #f75023;
	font-size: 20px;
	font-weight: 500;
}
.heading p{
	font-size: 1.1rem;
	color: #a09dab;
	line-height: 28px;
}
.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
}
.col{
	position: relative;
}
.col img{
	max-width: 100%;
	width: 550px;
	height: auto;
	object-fit: cover;
	border-radius: 12px;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	transition: all .40s;
}
.layer:hover{
	background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}
.layer h3{
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: #ffffff;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h3{
	bottom: 52%;
	opacity: 1;
}

.layer h5{
	position: absolute;
	width: 100%;
	font-size:17px;
	font-weight: 500;
	color: #ffffff;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h5{
	bottom: 40%;
	opacity: 1;
}



